node_modules/
dist/
.env
.env.local
*.log
.DS_Store

# uploaded / generated images & videos
server/uploads/in/*
server/uploads/out/*
server/uploads/vid/*
!server/uploads/in/.gitkeep
!server/uploads/out/.gitkeep
!server/uploads/vid/.gitkeep
